<!DOCTYPE html>
<html lang="uz">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Pitnak 8-son maktab</title>
    <link href="{% static 'main/img/logo.png' %}" rel="icon" type="image/x-icon">

    <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="static/main/css/main.css" rel="stylesheet">
    <link href="static/main/css/style.css" rel="stylesheet">


</head>

<body>


{% include 'includes/header.html' %}


<main>

    <section class="hero bg-cover bg-center d-flex justify-content-center align-items-center mt-10">
        <div class="text-center text-white px-4">
            <h1 class="">
                Xorazm viloyati Tuproqqal'a tuman<br>8-son umumta'lim maktabi
            </h1>
            <p class="lead mb-4 hero_text">
                Bizning maktabimizda ta'lim olish sizni yangi imkoniyatlarga olib keladi!
                Keling, birgalikda bilim olamiz.
            </p>
            <a class="btn btn-warning btn-lg px-5 py-3 text-decoration-none" href="contact">Biz bilan bog'laning</a>
        </div>
    </section>
</main>
{% include 'includes/footer.html' %}
<script src="static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="static/main/js/main.js"></script>
</body>
</html>