{% extends 'base.html' %}
{% load static %}

{% block title %}Ustozlar{% endblock %}

{% block content %}
<main style="padding-top: 80px;">
    <h2 class="text-center mb-5 section-title fw-bold">Maktab Ustozlari</h2>
</main>
<div class="row g-4">
    {% for teacher in teachers %}
    <div class="col-md-6 col-lg-3">
        <div class="card h-100 teacher-card shadow-sm">
            <img src="{{ teacher.photo.url }}" class="card-img-top" alt="{{ teacher.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ teacher.name }}</h5>
                <p class="card-text">{{ teacher.subject }} o'qituvchisi</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
